.description_container_subtitle {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    padding-right: 10px;
    max-width: 192px;
}

.description_container {
    display: flex;
    justify-content: space-between;
    border-top: 4px rgb(36, 187, 247) solid;
}

.description_container_file_name {
    color: blue;
    overflow-wrap: break-word;
    max-width: 300px;
}

.description_container_file_name:hover {
    color: black;
    text-shadow: 1px 1px 2px blue, 0 0 1em blue, 0 0 0.2em blue;
}